.homeSlide .box {
    margin-top: 80px;
    padding: 0 40px 60px;
}

.homeSlide h1 {
    font-size: 45px;
    line-height: 55px;
    margin: 50px 0 20px 0;
}

.homeSlide p {
    margin: 20px 0;
}

.homeSlide ul {
    position: absolute;
    bottom: 20px;
}

.homeSlide ul li {
    border: 2px solid #b8b7b7;
    border-radius: 50%;
    padding: 10px;
}

.slider-btn{
    font-size: 15px !important;
    color: #ffffff;
    background-color: black;
    display: inline-block;
    text-align: center;
    height: 35px;
    width: 150px;
    padding-top: 5px;
    border-radius: 5px;
    margin: auto;
}

.homeSlide ul li .slider-btn {
    background: transparent !important;
    color: transparent !important;
}

.homeSlide ul li .slider-btn::before {
    font-size: 15px !important;
    color: #0f3460;
    position: absolute;
    top: 2px;
    left: 0;
    margin: auto;
}

.homeSlide .box img {
    width: 100%;
    max-height: 300px;
    object-fit: contain;
}